/inside-docker-container/
/content-processing/
/ansible/
/tmp/
/venv/
/logs/
/map/
/bk_services/thumb_image/
/bk_services/LibreOfficeTempProfiles/
/bk_services/thumb_office/
/bk_services/thumb_pdf/
/bk_services/thumb_video/
/bk_services/ocr_image/
/bk_services/ocr_pdf/
/LibreOfficeTempProfiles/
/home/
/fapp/logs/
/consumers/LibreOfficeTempProfiles/
/api/logs/
/consumers/temp/
/map/
/temp-upload/
/tmp/
/map/
/bk_services/thumb_image/
/bk_services/LibreOfficeTempProfiles/
/bk_services/thumb_office/
/bk_services/thumb_pdf/
/bk_services/thumb_video/
/bk_services/ocr_image/
/bk_services/ocr_pdf/
/composer/images/
/bk_services/logs/
/fix_data_es/files/
/cache/
/tmp_media/
/fscrawler/
/background_service_files/
/apps/logs/
/cy_web/kubectl
/cy_xdoc/logs/
/cy_xdoc/cache/
/open-cv-source/
/test_cv/
/test-res/
/web/
/brokers/
/cy_consumers/logs/
/web/
/temp-data/

/k8s/

/dataset/
/python_dot_net_core/
/test-res/
/test/
/docker-images/
