/background_service_files/
/botocore-aws/
/brokers/
/build/
/cocoapi/
/cy_consumers/.pytest_cache/
/cy_consumers/logs/
/dataset/
/dataset-01/
/deepdoctection/
/detectron2/
/docker-dataset/
/ext-git/
/kafka_delegate/
/logs/
/map/
/none-source/
/temp-data/
/test/
/test-res/
/test_cv/
/tmp/
/venv-docker-003/
/vi-models/
/VietnameseTextNormalizer/
/vn_acc_predict/
/web/
/zip/
