/background_service_files/
/botocore-aws/
/brokers/
/build/
/cocoapi/
/cy_consumers/.pytest_cache/
/cy_consumers/logs/
/dataset/
/dataset-01/
/deepdoctection/
/detectron2/
/docker-dataset/
/ext-git/
/kafka_delegate/
/logs/
/map/
/none-source/
/temp-data/
/test/
/test-res/
/test_cv/
/tmp/
/venv-docker-003/
/vi-models/
/VietnameseTextNormalizer/
/vn_acc_predict/
/web/
/zip/
/cy_xdoc/cache/
/dotnet_core/VietnameseAccent/Accent.Utils/bin/
/dotnet_core/VietnameseAccent/Accent.Utils/obj/
/dotnet_core/VietnameseAccent/Accent.KShortestPaths/bin/
/dotnet_core/VietnameseAccent/Accent.API/obj/
/dotnet_core/VietnameseAccent/Accent.API/bin/
/dotnet_core/VietnameseAccent/Accent.KShortestPaths/obj/
/torch-source/
/docker-build/cuelake/
/test-git/
/loc/
/wheel/
/wheel/
/table-ocr-38/
/dataset.zip
/dataset-v2.zip
/long-test/
/share-storage/
/docker-build/dataset/
/audio-test/
/nodjs/

/docker-resource/
/test-xdoc-volume/
