<?xml version="1.0" encoding="UTF-8"?>
<!--
    Cấu hình file này dành cho iis fastcgi
-->
<configuration>
<system.webServer>
<handlers>
    <add name="FastAPI Handler local"
    path="*" verb="*"
    modules="FastCgiModule"
    scriptProcessor="D:\lv-files\venv\Scripts\python.exe|D:\lv-files\venv\Lib\site-packages\wfastcgi.py"
    resourceType="Unspecified" />
</handlers>
</system.webServer>

    <appSettings>
        <add key="PYTHONPATH" value="D:\lv-files" />
        <add key="WSGI_HANDLER" value="api_app_iis_windows.wsgi_app" />
    </appSettings>
</configuration>
